/* hovers */

:root {
    --coefficient-first: 0;
    --coefficient-second: 0px;
}

@media (hover: hover) {

    .for_enrollee2024>div:hover,
    .element:hover {
        background-color: #f3f3f3;
        outline: 3px solid #d2d2d2;
        outline-offset: -2px;
    }

    .topmenu li:hover {
        background-color: #5fd45f;
    }

    .topmenu>li:hover .submenu {
        opacity: 1;
        /*??????????????*/
        transform: scaleY(1);
    }

    .wrapper>span>button:hover:not(button:nth-child(4)) {
        color: #fff;
        background-color: #1db248;
    }

    .wrapper>span>button:hover:nth-child(4), .more:hover {
        outline: 2px solid #337cbd;
        outline-offset: -1.5px;
    }

    footer>div>span:nth-of-type(4) button:hover {
        background-color: #3c464d;
        border: 0;
    }

    .social_bunner>span:nth-of-type(1)>div:hover{
        cursor: pointer;
        color: #c5c5c5;
    }
}


@media (hover: none) {

    .for_enrollee2024>div:active,
    .element:active {
        background-color: #f3f3f3;
        outline: 3px solid #d2d2d2;
        outline-offset: -2px;
    }

    .topmenu li:active {
        background-color: #5fd45f;
    }

    .topmenu>li:active .submenu {
        opacity: 1;
        /*not work*/
        transform: scaleY(1);
    }


    .wrapper>span>button:active:not(button:nth-child(4)) {
        color: #fff;
        background-color: #1db248;
    }

    .wrapper>span>button:active:nth-child(4), .more:active{
        outline: 2px solid #337cbd;
        outline-offset: -1.5px;
    }
    footer>div>span:nth-of-type(4) button:active {
        background-color: #3c464d;
        border: 0;
    }

    .social_bunner>span:nth-of-type(1)>div:active{
        color: #c5c5c5;
    }

}



/*ADAPTIVE*/    

@media (max-width: 1400px){

}

@media (max-width: 1200px){

}

@media (max-width: 900px){
.for_enrollee2024{
    flex-direction: column;
}

.column{
    width: 100%;
    padding-inline: 1% ;
}
footer>div>span{
    margin-bottom: 4%;
}
}

/* Small Devices, Tablets */

@media (max-width: 768px) {
    :root{
        --coefficient-first: 0.7;
        --coefficient-second: 320px;
}
}

/* Extra Small Devices, Phones */

@media (max-width: 480px) {

}

/* Custom, iPhone Retina */

@media (max-width: 415px) {

}