* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Manrope;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

a{
    text-decoration: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

button:hover,
a:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*reset end*/

body {
    width: 100vw;
    background: #f2f2f2;
    line-height: 1;
    overflow-x: hidden;
}

header {
    background: #1db248;
    text-align: center;
}

header a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .3s ease-in-out;
}

.most_top {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    width: 98%;
    height: 36px;
    padding-inline-start: 2%;
    background-color: #1c3343;
}

.most_top img {
    height: 1em;
}

.most_top>span {
    position: absolute;
    right: 5%;
    gap: 8%;
    display: flex;
    align-items: center;
}

.most_top p {
    align-items: center;
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    font-family: Manrope;
    font-size: var(--font-16px);
    font-weight: bold;
    line-height: 100%;
    color: #fff;
}

/**************************************/

.logo_container {
    padding-block: 1%;
    padding-left: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f3f3f3;
    align-items: center;
    position: relative;
}

.logo_container>a{
    width: 8%;
    aspect-ratio: 1/1;
}

#logo {
    background-image: url('../img/main_logo.png');
    background-size: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    outline: 3px solid #1fa038;
    outline-offset: -2px;
}

.logo_container>div:first-of-type>p:first-of-type {
    font-family: Manrope;
    font-size: var(--font-16px);
    color: #374653;
}

.logo_container>div:first-of-type>p {
    font-family: Manrope;
    font-size: var(--font-32px);
    font-weight: 800;
    color: #000;
}

.logo_container>div:first-of-type {
    margin-left: 2%;
    text-align: left;
}

.logo_container>div:nth-of-type(2) {
    font-family: Manrope;
    font-size: var(--font-16px);
    font-weight: 500;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

.logo_container>div:nth-of-type(2) {
    position: absolute;
    right: 10%;
}

/**************************************/

nav {
    width: 83%;
    display: table;
    margin: 0 auto;
}

.topmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topmenu>li:first-of-type {
    background-color: #067225;
}

.topmenu>li {
    padding: 1.2% .5%;
    width: 11%;
    float: left;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.topmenu>li>a {
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    font-size: var(--font-20px);
    font-weight: bold;
    color: #f3f3f3;
}


.submenu-link>img {
    height: 1em;
    color: #FFF;
}

.submenu {
    background: #1db248;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 100%;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
}

.submenu a {
    color: white;
    text-align: left;
    padding: 8% 10%;
    font-size: var(--font-16px);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.submenu li:last-child a {
    border-bottom: none;
}

/**************************************/


.main_bunner {
    justify-content: center;
    flex-direction: column;
    display: flex;
    aspect-ratio: 1680 / 560;
    font-size: 18px;
    background-image: url('../img/slider/18.jpg');
    justify-content: center;
    background-size: 100%;
    background-position-y: 50%;
}

.main_bunner p,
.main_bunner a {
    margin-left: 14%;
}

.main_bunner p:nth-of-type(1) {
    border-radius: 5px 5px 0px 0px;
}

.main_bunner p:nth-of-type(2) {
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 1.5%;
}

.main_bunner p:nth-of-type(1),
.main_bunner p:nth-of-type(2) {
    width: max-content;
    font-family: Manrope;
    padding: .4%;
    font-size: var(--font-32px);
    font-weight: bold;
    color: #000;
    background-color: #fff;
    text-wrap: nowrap;

}

.main_bunner p:nth-of-type(3) {
    text-shadow: 1.5px 1.5px 2px black;
    margin-bottom: 1.5%;
    width: 40%;
    font-family: Manrope;
    font-size: var(--font-20px);
    font-weight: 500;
    line-height: 1.6;
    color: #fff;
}

.main_bunner a {
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: var(--font-14px);
    font-weight: bold;
    line-height: 1.71;
    color: #fff;
}